MT5_LOGIN=YOUR_ACCOUNT_NUMBER
MT5_PASSWORD=YOUR_PASSWORD
MT5_SERVER=YOUR_SERVER_NAME

MT5_SYMBOL=XAUUSD

TRADING_MODE=DEMO
ALLOW_LIVE_TRADING=false

EMA20_MAGIC=20020
EMA50_MAGIC=50050

MT5_DEVIATION=20

INITIAL_CAPITAL=10000
DAILY_TARGET_PERCENT=1.0
START_TIME=03:45
TIMEZONE=Asia/Kolkata
